name: Fly Deploy
on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]
jobs:
  deploy:
    name: Deploy app
    if: ${{ github.event_name == 'push' }}
    runs-on: ubuntu-latest
    concurrency: deploy-group
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '16'
      - name: Install dependencies 
        run: npm install
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - name: build
        run: npm run build
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
      - name: Test Success
        uses: rjstone/discord-webhook-notify@v2
        if: ${{ success() }}
        with:
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}
          severity: info
          details: All tests passed!
      - name: Discord Webhook Notify
        if: ${{ failure() }}
        uses: rjstone/discord-webhook-notify@v2.2.1
        with:
          severity: error
          details: 'Deployment failed - this is a test !'
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}