name: Hello World!

on:
  push:
    branches:
      - main
      - test-branch

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    steps:
      - name: Say hello
        run: |
          echo "Hello World!"
      - name: Now it is
        run: |
          date
      - name: Directory content
        run: |
          ls -l
      - name: Discord Webhook Notify
        uses: sarisia/actions-status-discord@v1
        with:
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}
          title: "A new version of Pokedex deployed"
          description: "to https://full-stack-open-pokedex-rough-shape-6124.fly.dev/ by ${{ github.actor }}"
          color: 0x00ff00 
          username: GitHub
          avatar_url: https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png