name: Periodical Healthcheck

on:
  push:
    branches:
      - main
      - test-branch
  pull_request:
    branches: [main]
    types: [opened, synchronize]
  schedule:
     - cron: "0 0 * * *"

jobs:
  health_check:
    runs-on: ubuntu-latest
    steps:
      - name: Check the deployed service URL
        uses: jtalk/url-health-check-action@v4
        with:
          url: https://full-stack-open-pokedex-rough-shape-6124.fly.dev/health
          max-attempts: 3
          retry-delay: 5s